@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* src/styles.css */
/* bg-[#121928] */
.cnn {
  position: relative;
}

.background_image {
  background-image: url("./assets/fourthBgImg.avif");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.css-underline {
  position: relative;
}

.css-underline::after {
  position: absolute;
  opacity: 0;
  content: "";
  width: 90%;
  height: 2px;
  background: #6366f1;
  left: 50%;
  bottom: 3px;
  transform: translateX(-50%);
  border-radius: 30px;
}

.css-underline:hover::after {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.border_css {
  border: 10px solid rgba(221, 220, 220, 0.664);
}

@media (min-width: 1128px) {
  .qrr {
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateX(40%) scale(1.2) translateY(-50%);
  }
}
@media (min-width: 1281px) {
  .qrr {
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateX(30%) scale(1.2) translateY(-50%);
  }
}

/* @media (min-width: 1000px) {
  .qrr {
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateX(45%) scale(1.5) translateY(-50%);
  }
} */

.indexx {
  z-index: 100;
}
